{#<!-- {{ kint(faqs) }}
{{ kint(faqsDetails) }} --> #}
<div class="container">
    <div class="row content-tween">
    <div class="col-12 col-lg-8 mx-auto fixedoverflowcontainerfaq content-tween-item">
        <div class="fixedoverflowcover">
            <div class="nav nav-pills nav-fill navcontcover">
                {% for keys, childs in faqs %}
                    {% if(childs.terms.tid == 1) %}
                    <a class="nav-item nav-link active" data-toggle="tab" href="#contmenu{{childs.terms.tid}}">{{childs.terms.name}}<br class="d-none d-lg-block">{{childs.terms.description}}</a>
                    {% else %}
                    <a class="nav-item nav-link" data-toggle="tab" href="#contmenu{{childs.terms.tid}}">{{childs.terms.name}}<br class="d-none d-lg-block">{{childs.terms.description}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="row mt-4 pt-lg-2">
    <div class="col-12 col-lg-8 mx-auto text-left">
        <div class="tab-content">
                {% for keys, childs in faqs %}
                    {% if(childs.terms.tid == 1) %}
                        <div class="tab-pane fade show active content-tween" id="contmenu{{childs.terms.tid}}">
                        <div id="oneaccordion" class="myaccordion">
                        {% for keys, childss in faqsDetails %}
                        {% if(childs.terms.tid == childss.faqsData.tid) %}
                        <div class="card content-tween-item">
                            <div class="card-header text-left collapsed" data-toggle="collapse" data-target="#faqcont{{childss.faqsData.nid}}">
                                <div class="row">
                                    <div class="col my-auto">
                                    <h3>{{childss.faqsData.featuretitle}}</h3>
                                    </div>
                                    <div class="col-auto text-right mb-auto">
                                    <div class="cardicons"><i class="icon-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="faqcont{{childss.faqsData.nid}}" class="collapse" data-parent="#oneaccordion">
                                <div class="card-body">
                                    {{childss.faqsData.body}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                        <br/>
                        <button class="btn btn-primary" type="button">Load More</button>
                        </div>
                    {% else %}
                        <div class="tab-pane fade" id="contmenu{{childs.terms.tid}}">
                        <div id="twoaccordion" class="myaccordion">
                        {% for keys, childss in faqsDetails %}
                        {% if(childs.terms.tid == childss.faqsData.tid) %}
                        <div class="card">
                            <div class="card-header text-left collapsed" data-toggle="collapse" data-target="#faq{{childss.faqsData.tid}}cont{{childss.faqsData.nid}}">
                                <div class="row">
                                    <div class="col my-auto">
                                    <h3>{{childss.faqsData.featuretitle}}</h3>
                                    </div>
                                    <div class="col-auto text-right mb-auto">
                                    <div class="cardicons"><i class="icon-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="faq{{childss.faqsData.tid}}cont{{childss.faqsData.nid}}" class="collapse" data-parent="#twoaccordion">
                                <div class="card-body">
                                {{childss.faqsData.body}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                        <br/>
                        <button class="btn btn-primary" type="button">Load More</button>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    </div>
</div>